body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1em;
  margin-bottom: 5px;
}

.pendiente {
  background-color: blue;
  color: white;
}

.haciendo {
  background-color: orange;
  color: white;
}

.hecho {
  background-color: green;
  color: white;
}

.cancelada {
  background-color: red;
  color: white;
}
